.cabecalhoDeTabelas{
    border: 1px;
}

.cabecalhoDeTabelas th{
    vertical-align: middle;
    background-color: #004d71;
    color:#FFFFFF;
}

.cabecalhoDeTabelas tr td{
    vertical-align: middle;
}

.inadimplente{
    color: brown;
}

.devolucao{
    color: #004d71;
}

.campoLeft{
    text-align: left;
}

.conteudo{
    font-size: 14px; margin: 0 auto;  padding: 0 30px;
}
.campo-menor{
    width: 13px
}

/* TOOLTIP */

th.ps-tooltip{
    cursor: help;
    text-decoration: underline;
}

/* BADGES */

.badge-right{
    float: right;
    margin-top: 3px;
    margin-right: 10px;
    cursor: help;
}

.badge-invisivel{
    color: white;
}

.Folha{
    background-color: #E6A31E;
}

.Boleto{
    background-color: #004D71;
}

.Parcelamento{
    background-color: #07913A;
}

.Cobrado{
    background-color: #e34c26;
}

.valor{
    margin-right: -20px;
}