<app-header></app-header>
<div class="conteudo">
  <app-cabecalho titulo="Mensalidade"></app-cabecalho>
  <br />
  <div class="card shadow">
    <div class="card-body align-items-center">
      <table id="" class="table table-bordered table-sm text-center cabecalhoDeTabelas"
      *ngIf="mensalidades?.data.length != 0 && mensalidades?.data != null">
      <thead class="postal">
        <tr>
          <th class="campo-menor" scope="col" rowspan="2">Competência</th>
          <th scope="col" rowspan="2" data-toggle="tooltip" data-placement="top" title="Referência"
            class="ps-tooltip">Ref.</th>
          <th scope="col" rowspan="2">Descrição</th>
          <th scope="col" rowspan="2">Remuneração Bruta (R$)</th>
          <th scope="col" rowspan="2">Beneficiário</th>
          <th scope="col" rowspan="2">Tipo</th>
          <th scope="col" rowspan="2">Valor da Mensalidade (R$)</th>
          <th scope="col" rowspan="2">Valor total da Mensalidade (R$)</th>
          <th scope="col" colspan="3">Forma de cobrança</th>
          <th scope="col" rowspan="2">Situação</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let mensalidade of mensalidades.data; let i = index">
          <tr *ngFor="let reg of mensalidade?.registros[0].beneficiarios; let j = index; first as isFirst">
            <td [attr.rowspan]="mensalidade?.registros[0].beneficiarios.length" *ngIf="isFirst">{{ mensalidade?.competencia.mes }}/{{ mensalidade?.competencia.ano }}</td>
            <td [attr.rowspan]="mensalidade?.registros[0].beneficiarios.length" *ngIf="isFirst">{{ mensalidade?.referencia.mes }}/{{ mensalidade?.referencia.ano }}</td>
            <td [attr.rowspan]="mensalidade?.registros[0].beneficiarios.length" *ngIf="isFirst">{{ mensalidade?.registros[0].rubrica.descricao }}</td>
            <td [attr.rowspan]="mensalidade?.registros[0].beneficiarios.length" *ngIf="isFirst">{{ mensalidade?.registros[0].remuneracaoBruta | number:'1.2-2':'pt' }}</td>
            <td class="campoLeft">{{ mensalidade?.registros[0].beneficiarios[j].nome | titlecase | nome }}</td>
            <td>{{mensalidade?.registros[0].beneficiarios[j].tipoBeneficiario.descricao | titlecase }}</td>
            <td>{{mensalidade?.registros[0].beneficiarios[j].valorCobrado | number:'1.2-2':'pt' }}</td>
            <td [attr.rowspan]="mensalidade?.registros[0].beneficiarios.length" *ngIf="isFirst">{{ mensalidade?.registros[0].mensalidadeSomadaTodosBeneficiarios | number:'1.2-2':'pt' }}</td>
            <td [attr.rowspan]="mensalidade?.registros[0].beneficiarios.length" *ngIf="isFirst" colspan="3">
              <span>{{ mensalidade?.registros[0].tipoPagamento.valor | number:'1.2-2':'pt' }}</span>
              <span
                class="badge badge-pill badge-primary badge-right {{ mensalidade?.registros[0].tipoPagamento.descricao }}"
                data-toggle="tooltip" data-placement="top"
                title="{{ mensalidade?.registros[0].tipoPagamento.descricao }}">{{ mensalidade?.registros[0].tipoPagamento.sigla }}
              </span>
              <span class="badge badge-pill badge-invisivel badge-right"
                *ngIf="mensalidade?.registros[0].tipoPagamento.sigla == ''">&nbsp;
              </span>
            </td>
            <td [attr.rowspan]="mensalidade?.registros[0].beneficiarios.length" *ngIf="isFirst">{{ mensalidade?.registros[0].situacao }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    {{ agora | date: 'dd/MM/yyyy - hh:mm:ss ZZZZ' }}
    </div>
  </div>
  <br />
  <div class="card shadow">
    <div class="accordion" id="accordionRegra">
      <div class="card">
        <div class="row card-header" id="headingOne">
          <button class="btn col-12" type="button" data-toggle="collapse" data-target="#collapseRegra"
            aria-expanded="false" aria-controls="collapseRegra">
            <div class="col">
              <h4><strong>Legenda</strong></h4>
            </div>
            <div class="col">(Clique aqui para saber mais)</div>
          </button>
        </div>

        <div class="collapse" id="collapseRegra">
          <div class="card card-body">
            <p><strong>Competência:</strong> corresponde ao mês da cobrança</p>            
            <p><strong>Descrição:</strong> Especificação da rubrica</p>
            <p><strong>Remuneração Bruta</strong></p>
            <p><strong>a) Empregado Ativo:</strong> são as rubricas que sofrem a incidência de IRPF não sendo
              consideradas as
              rubricas relacionadas ao pagamento de férias e 13º salários.</p>
            <p><strong>b) Empregado Aposentado:</strong> são considerados o benefício recebido do INSS, mais o
              complemento da
              União, caso tenha, mais a suplementação do Postalis, planos CD e BD</p>
            <p><strong>c) Empregado Afastado:</strong> é considerado a remuneração atualizada que incide IR, com
              exceção do
              13º salário e férias</p>
            <p><strong>Valor da mensalidade:</strong> valor cobrado por beneficiário no plano</p>
            <p><strong>Valor total da mensalidade:</strong> valor das mensalidades cobradas na competência</p>
            <p><strong>Forma de Cobrança:</strong> identifica a forma de pagamento</p>
            <p><strong>a) Folha de Pagamento:</strong> beneficiários ativos</p>
            <p><strong>b) Boleto:</strong> Beneficiários aposentados e afastados</p>
            <p><strong>c) Parcelamento:</strong> É a negociação de boletos de mensalidade e despeas
              médico-hospitalar e /ou
              odontológica inadimplentes.</p>
            <p><strong>Situação:</strong> É o status de pagamento</p>
            <p><strong>a) Quitado:</strong> É a mensalidade e as despesas médico-hospitalares processadas e pagas</p>
            <p><strong>b) Em aberto:</strong> É a mensalidade e as despesas médico-hospitalares processadas e não pagas até a
              data de vencimento</p>            
            <p><strong>c) Inadimplente:</strong> É a mensalidade e as despesas médico-hospitalares processadas e não
              pagas,
              passíveis de parcelamento.</p>
            <p><strong>d) Devolução:</strong> É o ajuste realizado na ficha financeira</p>
            <p><strong>Obs:</strong> A partir de 01/2019 a mensalidade dos empregados ativos é calculada e descontada pela Mantenedora. Já a mensalidade dos afastados é calculada pela Mantenedora e cobrada pela Postal Saúde por meio de boleto bancário.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>