<app-header></app-header>
<div class="" style="font-size: 14px; margin: 0 auto;  padding: 0 30px;">
  <div class="card shadow">
    <div class="card-header text-center" style="font-weight: bold">
      FICHA FINANCEIRA MENSALIDADE
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td style="width: 5%; font-weight: bold;">BENEFICIÁRIO:</td>
            <td style="width: 30%">REINALDO RODRIGUES MIRANDANDA</td>
            <td style="width: 5%; font-weight: bold;">MATRÍCULA:</td>
            <td style="width: 30%">85626210</td>
            <td style="width: 30%"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <div class="card shadow">
    <div class="card-body align-items-center">
      <table id="" class="table table-bordered table-sm text-center">
        <thead style="background-color:#004d71; color: white">
          <tr>
            <th style="width: 13px" scope="col" rowspan="2">Data da Solicitação</th>
            <th scope="col" rowspan="2">Valor da dívida</th>
            <th scope="col" rowspan="2">Valor Corrigido</th>
            <th scope="col" rowspan="2">Quantidade de parcelas</th>
            <th scope="col" rowspan="2">Data do vencimento</th>
            <th scope="col" rowspan="2">Valor da parcela</th>
            <th scope="col" rowspan="2">Data de pagamento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="vertical-align: middle">19/11/2015</td>
            <td style="vertical-align: middle">R$1.361,88</td>
            <td style="vertical-align: middle">R$1.567,92</td>
            <td style="text-align: -webkit-center">
          <tr>1 de 6</tr>
          <tr>2 de 6</tr>
          <tr>3 de 6</tr>
          <tr>4 de 6</tr>
          <tr>5 de 6</tr>
          <tr>6 de 6</tr>
          </td>
          <td style="text-align: -webkit-center">
            <tr>15/12/2015</tr>
            <tr>15/01/2016</tr>
            <tr>15/02/2016</tr>
            <tr>15/03/2016</tr>
            <tr>15/04/2016</tr>
            <tr>15/05/2016</tr>
          </td>
          <td style="text-align: -webkit-center">
            <tr>R$261,32</tr>
            <tr>R$261,32</tr>
            <tr>R$261,32</tr>
            <tr>R$261,32</tr>
            <tr>R$261,32</tr>
            <tr>R$261,32</tr>
          </td>
          <td style="text-align: -webkit-center">
            <tr>03/12/2015</tr>
            <tr>11/01/2016</tr>
            <tr>05/02/2016</tr>
            <tr>08/03/2016</tr>
            <tr>06/04/2016</tr>
            <tr>09/05/2016</tr>
          </td>
          </tr>
          <tr>
            <td style="vertical-align: middle">29/05/2019</td>
            <td style="vertical-align: middle">R$1.413,90</td>
            <td style="vertical-align: middle">R$1.631,88</td>
            <td style="text-align: -webkit-center">
          <tr>1 de 12</tr>
          <tr>2 de 12</tr>
          <tr>3 de 12</tr>
          <tr>4 de 12</tr>
          <tr>5 de 12</tr>
          <tr>6 de 12</tr>
          <tr>7 de 12</tr>
          <tr>8 de 12</tr>
          <tr>9 de 12</tr>
          <tr>10 de 12</tr>
          <tr>11 de 12</tr>
          <tr>12 de 12</tr>
          </td>
          <td style="text-align: -webkit-center">
            <tr>15/06/2019</tr>
            <tr>15/07/2019</tr>
            <tr>15/08/2019</tr>
            <tr>15/09/2019</tr>
            <tr>15/10/2019</tr>
            <tr>15/11/2019</tr>
            <tr>15/12/2019</tr>
            <tr>15/01/2020</tr>
            <tr>15/02/2020</tr>
            <tr>15/03/2020</tr>
            <tr>15/04/2020</tr>
            <tr>15/05/2020</tr>
          </td>
          <td style="text-align: -webkit-center">
            <tr>R$ 135,99</tr>
            <tr>R$ 135,99</tr>
            <tr>R$ 135,99</tr>
            <tr>R$ 135,99</tr>
            <tr>R$ 135,99</tr>
            <tr>R$ 135,99</tr>
            <tr>R$ 135,99</tr>
            <tr>R$ 135,99</tr>
            <tr>R$ 135,99</tr>
            <tr>R$ 135,99</tr>
            <tr>R$ 135,99</tr>
            <tr>R$ 135,99</tr>
          </td>
          <td style="text-align: -webkit-center">
            <tr>18/06/2019</tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <div class="card shadow">
    <div class="card-body">
      <p><strong>Legenda:</strong>
      </p>
      <p><strong>Data da solicitação:</strong> Data de execusão do parcelamento
      </p>
      <p><strong>Valor da dívida:</strong> Valor dos boletos inadimplentes sem encargos financeiros
      </p>
      <p><strong>Valor corrigido:</strong> Valor dos boletos inadimplentes com encargos financeiros
      </p>
      <p><strong>Quantidade de parcelas:</strong> Parcelas a serem pagas conforme o termo de Confissão de Dívida
      </p>
      <p><strong>Data do vencimento:</strong> Data em que a parcela deverá ser paga
      </p>
      <p><strong>Valor da parcela:</strong> Divisão do valor da dívida conforma quantidade de parcelas
      </p>
      <p><strong>Data do pagamento:</strong> Data do pagamento da parcela
      </p>
      <p><strong>Situação:</strong> É o status de pagamento
      </p>
      <p><strong>a) Quitado:</strong>  É a mensalidade e as despesas médico-hopitalares processadas e pagas
      </p>
      <p><strong>b) Em aberto:</strong>  É a mensalidade e as despesas médico-hopitalares processadas e não pagas até a data de vencimento
      </p>
      <p><strong>c) Inadimplente:</strong> É a mensalidade e as despesas médico-hopitalares processadas e não pagas, passíveis de parcelamento.
      </p>
      <p><strong>d) Devolução:</strong> É o ajuste realizado na ficha financeira 
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>