/* Table */
.thead-blue{
    background-color: #004D77;
    color: white;
}

/* Buttom */
.btn-medium{
    width: 200px;
    height: 100px;
    margin: 15px;
}
.btn-blue{
    background-color: #004D77;
    border-color: #004D77 !important;
}
.btn-options{
    text-align: center;
}