<app-header></app-header>
<div class="" style="font-size: 14px; width: 100%;  margin: 0 auto;  padding: 0 30px;">
  <app-cabecalho></app-cabecalho>
  <br />
  <div class="card text-center shadow">
    <div class="card-body">
      <!-- COPAR I   -->
      <table class="table table-bordered table-sm text-center cabecalhoDeTabelas">
        <thead>
          <tr>
            <th style="width: 13px" scope="col" rowspan="2">Referência do Extrato de Utilização</th>
            <th style="width: 13px" scope="col" rowspan="2">Competência da Coparticipação</th>
            <th scope="col" rowspan="2">Remuneração</th>
            <th style="width: 13px" scope="col" rowspan="2">Referência Salarial</th>
            <th scope="col" rowspan="2">Teto</th>
            <th scope="col" rowspan="2">Margem</th>
            <th scope="col" rowspan="2">Rubrica</th>
            <th scope="col" rowspan="2">Descrição</th>
            <th style="width: 13px" scope="col" rowspan="2">Valor da Despesa</th>
            <th style="width: 13px" scope="col" rowspan="2">Valor da Coparticipação</th>
            <th scope="col" rowspan="2">Resíduo Anterior</th>
            <th scope="col" rowspan="2">Saldo devedor</th>
            <th scope="col" colspan="3">Forma de pagamento</th>
            <th scope="col" rowspan="2">Situação</th>
            <th scope="col" rowspan="2">Resíduo Posterior</th>
          </tr>
          <tr>
            <th scope="col">Folha de Pagamento</th>
            <th scope="col">Boleto</th>
            <th scope="col">Parcelamento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>JUN/12</td>
            <td>MAI/12</td>
            <td>4.404,26</td>
            <td>NS - 06</td>
            <td>751,38</td>
            <td>250,46</td>
            <td>7034</td>
            <td>DESPESA MÉDICA COMPARTILHADA AUTOMÁTICA</td>
            <td>99,50</td>
            <td>14,93</td>
            <td> - </td>
            <td>14,93</td>
            <td>14,93</td>
            <td></td>
            <td></td>
            <td>Quitado</td>
            <td> - </td>
          </tr>
          <tr>
            <td>AGO/12</td>
            <td>JUN/12</td>
            <td>4.404,26</td>
            <td>NS - 06</td>
            <td>751,38</td>
            <td>250,46</td>
            <td>7034</td>
            <td>DESPESA MÉDICA COMPARTILHADA AUTOMÁTICA</td>
            <td>302,40</td>
            <td>45,36</td>
            <td> - </td>
            <td>45,36</td>
            <td>45,36</td>
            <td></td>
            <td></td>
            <td>Quitado</td>
            <td> - </td>
          </tr>
          <tr>
            <td>SET/12</td>
            <td>JUL/12</td>
            <td>4.404,26</td>
            <td>NS - 06</td>
            <td>754,32</td>
            <td>251,44</td>
            <td>7034</td>
            <td>DESPESA MÉDICA COMPARTILHADA AUTOMÁTICA</td>
            <td>120,00</td>
            <td>18,00</td>
            <td> - </td>
            <td>18,00</td>
            <td>18,00</td>
            <td></td>
            <td></td>
            <td>Quitado</td>
            <td> - </td>
          </tr>
          <tr>
            <td>OUT/12</td>
            <td>AGO/12</td>
            <td>4.404,26</td>
            <td>NS - 06</td>
            <td>754,32</td>
            <td>251,44</td>
            <td>7034</td>
            <td>DESPESA MÉDICA COMPARTILHADA AUTOMÁTICA</td>
            <td>78,00</td>
            <td>11,70</td>
            <td> - </td>
            <td>11,70</td>
            <td> - </td>
            <td></td>
            <td></td>
            <td>Quitado</td>
            <td>11,70</td>
          </tr>
          <tr>
            <td>NOV/12</td>
            <td>SET/12</td>
            <td>4.404,26</td>
            <td>NS - 06</td>
            <td>754,32</td>
            <td>251,44</td>
            <td>7034</td>
            <td>DESPESA MÉDICA COMPARTILHADA AUTOMÁTICA</td>
            <td>753,93</td>
            <td>113,09</td>
            <td>11,70</td>
            <td>124,79</td>
            <td>124,79</td>
            <td></td>
            <td></td>
            <td>Quitado</td>
            <td> - </td>
          </tr>
          <tr>
            <td>DEZ/12</td>
            <td>SET/12</td>
            <td>4.404,26</td>
            <td>NS - 06</td>
            <td>754,32</td>
            <td>251,44</td>
            <td>7034</td>
            <td>DESPESA MÉDICA COMPARTILHADA AUTOMÁTICA</td>
            <td>84,63</td>
            <td>12,69</td>
            <td> - </td>
            <td>12,69</td>
            <td> - </td>
            <td></td>
            <td></td>
            <td>Quitado</td>
            <td>12,69</td>
          </tr>
          <tr>
            <td>JAN/13</td>
            <td>NOV/12</td>
            <td>4.404,26</td>
            <td>NS - 06</td>
            <td>754,32</td>
            <td>251,44</td>
            <td>7034</td>
            <td>DESPESA MÉDICA COMPARTILHADA AUTOMÁTICA</td>
            <td>174,76</td>
            <td>26,21</td>
            <td>12,69</td>
            <td>38,90</td>
            <td>26,21</td>
            <td>12,69</td>
            <td></td>
            <td>Quitado</td>
            <td> - </td>
          </tr>
          <tr>
            <td>FEV/13</td>
            <td>DEZ/12</td>
            <td>4.404,26</td>
            <td>NS - 06</td>
            <td>754,32</td>
            <td>251,44</td>
            <td>7034</td>
            <td>DESPESA MÉDICA COMPARTILHADA AUTOMÁTICA</td>
            <td>386,37</td>
            <td>57,96</td>
            <td> - </td>
            <td>57,96</td>
            <td> - </td>
            <td></td>
            <td></td>
            <td>Quitado</td>
            <td>57,96</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <p class="text-center">Informamos que os detalhamentos da cobrança estão nos extratos de utilização disponíveis no site da
      Postal Saúde, sendo necessário realizar o cadastro, registrar login e senha, através do
      link: <a href="http://portal.postalsaudeservicos.com.br/portalpostal/Home/" target="_blank"
          rel="noopener noreferrer">http://portal.postalsaudeservicos.com.br/portalpostal/Home/</a>
  </p>
  <div class="card shadow">
    <div class="accordion" id="accordionRegra">
      <div class="card">
        <div class="row card-header" id="headingOne">
          <button class="btn col-12" type="button" data-toggle="collapse" data-target="#collapseRegra"
            aria-expanded="false" aria-controls="collapseRegra">
            <div class="col">
              <h4><strong>Legenda</strong></h4>
            </div>
            <div class="col">(Clique aqui para saber mais)</div>
          </button>
        </div>
  
        <div class="collapse" id="collapseRegra">
          <div class="card card-body">
              <p><strong>Referência do Extrato de Utilização:</strong> competência do extrato de utilização
              </p>
              <p><strong>Competência da Coparticipação :</strong> corresponde ao mês do compatilhamento das despesas
                  médicas e
                  odontológias
              </p>
              <p><strong>Referência Salarial:</strong> nível salarial do empregado
              </p>
              <p><strong>Teto:</strong> é o valor máximo sobre o qual será calculado o valor da coparticipação nos
                  custos com a
                  utilização da Assistência Médico-Hospitalar ou Odontológica na Rede Credenciada, a ser cobrado do
                  beneficiário.
              </p>
              <p><strong>a) Beneficiário Ativo:</strong> duas vezes o salário base.
              </p>
              <p><strong>b) Beneficiário Aposentado:</strong> três vezes o salário base.
              </p>
              <p><strong>c) Beneficiário Afastado:</strong> duas vezes o salário base.
              </p>
              <p><strong>Margem:</strong> valor máximo de desconto mensal, incidente sobre o salário base do empregado
                  em caso de
                  utilização
              </p>
              <p><strong>Rubrica:</strong> número descritivo da identificação do desconto da coparticipação do
                  beneficiário ativo no
                  contracheque
              </p>
              <p><strong>053886</strong> - Devolução de despesa médica
              </p>
              <p><strong>057886</strong> - Despesa médica Postal Saúde
              </p>
              <p><strong>Descrição:</strong> especificação da rubrica
              </p>
              <p><strong>Valor da Depesa:</strong> somatório do valor total de todos os eventos pago ao prestador por
                  cada guia
              </p>
              <p><strong>Valor da Coparticipação:</strong> identifica o valor compartilhado pelo beneficiário
              </p>
              <p><strong>Resíduo Anterior:</strong> valores acumulados a serem descontados
              </p>
              <p><strong>Saldo Devedor:</strong> valores acumulados ainda não pagos
              </p>
              <p><strong>Forma de Cobrança:</strong> identifica a forma de pagamento
              </p>
              <p><strong>a) Folha de Pagamento:</strong> beneficiários ativos
              </p>
              <p><strong>b) Boleto:</strong> Beneficiários aposentados e afastados
              </p>
              <p><strong>c) Parcelamento:</strong> É a negociação de boletos de mensalidade e despeas
                  médico-hospitalar e /ou
                  odontológica inadimplentes.
              </p>
              <p><strong>Situação:</strong> É o status de pagamento
              </p>
              <p><strong>b) Em aberto:</strong> É a mensalidade e as despesas médico-hopitalares processadas e não
                  pagas até a data de
                  vencimento
              </p>
              <p><strong>a) Quitado:</strong> É a mensalidade e as despesas médico-hopitalares processadas e pagas
              </p>
              <p><strong>c) Inadimplente:</strong> É a mensalidade e as despesas médico-hopitalares processadas e não
                  pagas, passíveis
                  de parcelamento.
              </p>
              <p><strong>d) Devolução:</strong> É o ajuste realizado na ficha financeira
              </p>
              <p><strong>Resíduo Posterior:</strong> Valor residual após a realização do pagamento</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>