<app-header></app-header>
<div class="conteudo">
  <app-cabecalho titulo="Parcelamento"></app-cabecalho>
  <br />
  <div class="card shadow">
    <div class="card-body align-items-center">
      <div class="d-flex align-items-center" *ngIf="carregando">
        <strong>Carregando dados...</strong>
        <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="(parcelamento?.data == null || parcelamento?.data.length == 0) && !carregando">
        <h2>Sem dados para exibição!</h2>
      </div>
      <table class="table table-bordered table-sm text-center cabecalhoDeTabelas" *ngIf="parcelamento?.data.length != 0 && !carregando">
        <thead>
          <tr>
            <th class="campo-menor" scope="col" rowspan="2">Data da Solicitação</th>
            <th scope="col" rowspan="2">Valor da Dívida (R$)</th>
            <th scope="col" rowspan="2">Valor Corrigido (R$)</th>
            <th class="campo-menor" scope="col" rowspan="2">Quantidade de parcelas</th>
            <th scope="col" rowspan="2">Data do vencimento</th>
            <th scope="col" rowspan="2">Valor da parcela (R$)</th>
            <th scope="col" rowspan="2">Data do pagamento</th>
            <th scope="col" rowspan="2">Situação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let registro of parcelamento?.data; let i = index">
            <td [attr.rowspan]="registro.quantidadeParcelas" *ngIf="registro.numeroParcela == 1">{{ registro.dataSolicitacao | date: 'dd/MM/yyyy' }}</td>
            <td [attr.rowspan]="registro.quantidadeParcelas" *ngIf="registro.numeroParcela == 1">{{ registro.valorDivida  | number:'1.2-2':'pt' }}</td>
            <td [attr.rowspan]="registro.quantidadeParcelas" *ngIf="registro.numeroParcela == 1">{{ registro.valorCorrigido  | number:'1.2-2':'pt' }}</td>
            <td>{{ registro.numeroParcela + ' de ' + registro.quantidadeParcelas }}</td>
            <td>{{ registro.dataVencimento | date: 'dd/MM/yyyy' }}</td>
            <td>{{ registro.valorParcela  | number:'1.2-2':'pt' }}</td>
            <td>{{ registro.dataPagamento | date: 'dd/MM/yyyy' }}</td>
            <td>{{ registro.situacao }}</td>
          </tr>
        </tbody>
      </table>
      {{ agora | date: 'dd/MM/yyyy - hh:mm:ss ZZZZ' }}
    </div>
  </div>
  <br />
  <div class="card shadow">
    <div class="accordion" id="accordionRegra">
      <div class="card">
        <div class="row card-header" id="headingOne">
          <button class="btn col-12" type="button" data-toggle="collapse" data-target="#collapseRegra"
            aria-expanded="false" aria-controls="collapseRegra">
            <div class="col">
              <h4><strong>Legenda</strong></h4>
            </div>
            <div class="col">(Clique aqui para saber mais)</div>
          </button>
        </div>

        <div class="collapse" id="collapseRegra">
          <div class="card card-body">
            <p><strong> Data da solicitação:</strong> data a execusão do parcelamento

            </p>
            <p><strong>Valor da dívida: </strong> valor das boletos inadimplentes sem encargos financeiros

            </p>
            <p><strong>Valor corrigido: </strong>valor das boletos inadimplentes com encargos financeiros

            </p>
            <p><strong>Quantidade de parcelas: </strong> parcelas a serem pagas conforme o termo de Confisão de Dívida

            </p>
            <p><strong>Data do vencimento:</strong> Data em que a parcela deverá ser paga

            </p>
            <p><strong>Valor da parcela:</strong> Divisão do valor da dívida conforma quantidade de parcelas

            </p>
            <p><strong>Data do pagamento: </strong> Data do pagamento da parcela

            </p>

            <p><strong>Situação:</strong> É o status de pagamento
            </p>
            <p><strong>a) Quitado:</strong> É a mensalidade e as despesas médico-hopitalares processadas e pagas
            </p>
            <p><strong>b) Em aberto:</strong> É a mensalidade e as despesas médico-hopitalares processadas e não
              pagas até a data de
              vencimento
            </p>            
            <p><strong>c) Inadimplente:</strong> É a mensalidade e as despesas médico-hopitalares processadas e não
              pagas, passíveis
              de parcelamento.
            </p>
            <p><strong>d) Devolução:</strong> É o ajuste realizado na ficha financeira
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>