<div class="card shadow">
    <div class="container card-header col-12" style="font-weight: bold">
        <div class="row align-items-center">
            <div class="col-5">
                <button class="btn btn-outline" onclick="history.go(-1)">
                        <i style="vertical-align: bottom;" class="material-icons">settings_backup_restore</i> Voltar
                </button>
            </div>
            <div class="col-7">{{titulo}}</div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td style="width: 5%; font-weight: bold;">BENEFICIÁRIO:</td>
                    <td style="width: 30%">VALERIA MOREIRA DO FORTE JATOB</td>
                    <td style="width: 5%; font-weight: bold;">MATRÍCULA:</td>
                    <td style="width: 30%">80860290</td>
                    <td style="width: 30%">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br />
