.btn-outline {   
    background-color: #004d71;
    color: #FFFFFF;
}

.btn-outline:hover {
    background-color: #FFFFFF;
    color: #004d71;
    border-color: #004d71;
}

.btn-outline i{
    vertical-align: bottom;
}

.td-titulo{
    width: 5%; 
    font-weight: bold;
}

.btn-left{
    float: left;
}

.text-center{
    text-align: center;
}