<div class="card shadow">
    <div class="container card-header col-12">
        <div class="row align-items-center">
            <div class="col-5">
                <button class="btn btn-outline" onclick="history.go(-1)">
                    <i class="material-icons">settings_backup_restore</i> Voltar
                </button>
            </div>
            <div class="col-7">
                <h3>{{titulo}}</h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td class="td-titulo">BENEFICIÁRIO:</td>
                    <td>{{ dados?.nome }}</td>
                    <td class="td-titulo">MATRÍCULA:</td>
                    <td>{{ dados?.matricula }}</td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br />