<div class="container">
  <div class="row">
    <div class="col-md-6">
      <label><strong>Beneficiário: REINALDO RODRIGUES MIRANDA</strong></label>
    </div>
    <div class="col-md-6">
      <label><strong>Matrícula: 85626210</strong></label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped table-bordered">
      <thead class="thead-blue">
        <tr>
          <th scope="col">Competência</th>
          <th scope="col">Referência</th>
          <th scope="col">Rubrica</th>
          <th scope="col">Descrição</th>
          <th scope="col">Remuneração Bruta</th>
          <th scope="col">Beneficiário</th>
          <th scope="col">Tipo</th>
          <th scope="col">Valor da Mensalidade</th>
          <th scope="col">Valor Total da Mensalidade</th>
          <th scope="col">Tipo de Cobrança
        <tr>
          <td>Folha de Pagamento</td>
          <td>Boleto</td>
          <td>Parcelamento</td>
        </tr>
        </th>
        <th scope="col">Situação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>01/04/2018</td>
          <td>01/04/2018</td>
          <td>55901</td>
          <td>MENSALIDADE CORREIOS SAÚDE - TST</td>
          <td>R$ 1.725,46</td>
          <td>
        <tr>REINALDO RODRIGUES MIRANDA</tr>
        <tr>EUNICE APARECIDA CASTILHO MIRA</tr>
        </td>
        <td>
          <tr>TITULAR</tr>
          <tr>CONJUGE/COMPANHEIRO(A)</tr>
        </td>
        <td>
          <tr>18,69</tr>
          <tr>11,21</tr>
        </td>
        <td>29,90</td>
      <tbody>
        <td>
          <tr>R$ -</tr>
        </td>
        <td>
          <tr>R$ -</tr>
        </td>
        <td>
          <tr>29,90</tr>
        </td>
      </tbody>
      <td>Quitado</td>
      </tr>
      <tr>
        <td>01/05/2018</td>
        <td>01/05/2018</td>
        <td>55901</td>
        <td>MENSALIDADE CORREIOS SAÚDE - TST</td>
        <td>R$ 2.610,28</td>
        <td>
      <tr>REINALDO RODRIGUES MIRANDA</tr>
      <tr>EUNICE APARECIDA CASTILHO MIRA</tr>
      </td>
      <td>
        <tr>TITULAR</tr>
        <tr>CONJUGE/COMPANHEIRO(A)</tr>
      </td>
      <td>
        <tr>R$ 75,70</tr>
        <tr>R$ 45,42</tr>
      </td>
      <td>121,12</td>
      <tbody>
        <td>
          <tr>R$ -</tr>
        </td>
        <td>
          <tr>R$ -</tr>
        </td>
        <td>
          <tr>121,12</tr>
        </td>
      </tbody>
      <td>Quitado</td>
      </tr>
      <tr>
        <td>01/06/2018</td>
        <td>01/06/2018</td>
        <td>55901</td>
        <td>MENSALIDADE CORREIOS SAÚDE - TST</td>
        <td>R$ 2.610,28</td>
        <td>
      <tr>REINALDO RODRIGUES MIRANDA</tr>
      <tr>EUNICE APARECIDA CASTILHO MIRA</tr>
      </td>
      <td>
        <tr>TITULAR</tr>
        <tr>CONJUGE/COMPANHEIRO(A)</tr>
      </td>
      <td>
        <tr>R$ 75,70</tr>
        <tr>R$ 45,42</tr>
      </td>
      <td>121,12</td>
      <tbody>
        <td>
          <tr>R$ -</tr>
        </td>
        <td>
          <tr>R$ -</tr>
        </td>
        <td>
          <tr>121,12</tr>
        </td>
      </tbody>
      <td>Quitado</td>
      </tr>
      <tr>
        <td>01/07/2018</td>
        <td>01/07/2018</td>
        <td>55901</td>
        <td>MENSALIDADE CORREIOS SAÚDE - TST</td>
        <td>R$ 2.610,28</td>
        <td>
      <tr>REINALDO RODRIGUES MIRANDA</tr>
      <tr>EUNICE APARECIDA CASTILHO MIRA</tr>
      </td>
      <td>
        <tr>TITULAR</tr>
        <tr>CONJUGE/COMPANHEIRO(A)</tr>
      </td>
      <td>
        <tr>R$ 75,70</tr>
        <tr>R$ 45,42</tr>
      </td>
      <td>121,12</td>
      <tbody>
        <td>
          <tr>R$ -</tr>
        </td>
        <td>
          <tr>R$ -</tr>
        </td>
        <td>
          <tr>121,12</tr>
        </td>
      </tbody>
      <td>Quitado</td>
      </tr>
      <tr>
        <td>01/08/2018</td>
        <td>01/08/2018</td>
        <td>55901</td>
        <td>MENSALIDADE CORREIOS SAÚDE - TST</td>
        <td>R$ 2.618,50</td>
        <td>
      <tr>REINALDO RODRIGUES MIRANDA</tr>
      <tr>EUNICE APARECIDA CASTILHO MIRA</tr>
      </td>
      <td>
        <tr>TITULAR</tr>
        <tr>CONJUGE/COMPANHEIRO(A)</tr>
      </td>
      <td>
        <tr>R$ 75,94</tr>
        <tr>R$ 45,56</tr>
      </td>
      <td>121,50</td>
      <tbody>
        <td>
          <tr>R$ -</tr>
        </td>
        <td>
          <tr>R$ -</tr>
        </td>
        <td>
          <tr>121,50</tr>
        </td>
      </tbody>
      <td>Quitado</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>