<div class="container">
  <div class="row">
    <div class="col-md-6">
      <label><strong>Beneficiário: REINALDO RODRIGUES MIRANDA</strong></label>
    </div>
    <div class="col-md-6">
      <label><strong>Matrícula: 85626210</strong></label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped">
        <thead class="thead-blue">
          <tr>
            <th scope="col">Competência</th>
            <th scope="col">Jun/19</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" colspan="2">Plano Correios Saúde</th>
          </tr>
          <tr>
            <td>Saldo Devedor</td>
            <td>R$ - </td>
          </tr>
          <tr>
            <td>Margem</td>
            <td>R$ 391,54</td>
          </tr>
          <tr>
            <th scope="row" colspan="2">Plano Correios Saúde II</th>
          </tr>
          <tr>
            <td>Mensalidade</td>
            <td>R$ 122,12</td>
          </tr>
          <tr>
            <td>Saldo Devedor</td>
            <td>R$ 36,51</td>
          </tr>
          <tr>
            <td>Margem</td>
            <td>R$ 250,25</td>
          </tr>
          <tr>
            <th scope="row">Total da Cobrança</th>
            <td>R$ 158,63</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <div class="row btn-options">
      <div class="col-md-4"><button type="button" class="btn btn-primary btn-medium btn-blue">Mensalidade</button></div>
      <div class="col-md-4"><button type="button" class="btn btn-primary btn-medium btn-blue">Ficha Financeira
          Parcelamento</button>
      </div>
      <div class="col-md-4"><button type="button" class="btn btn-danger btn-medium">Boleto em aberto R$ 390,72</button>
      </div>
    </div>
    <div class="row btn-options">
      <div class="col-md-4"><button type="button" class="btn btn-primary btn-medium btn-blue">Ficha Financeira Plano
          Correios
          Saúde</button></div>
      <div class="col-md-4"><button type="button" class="btn btn-primary btn-medium btn-blue">Ficha Financeira Plano
          Correios Saúde
          II</button></div>
      <div class="col-md-4"><button type="button" class="btn btn-danger btn-medium">Inadimplância R$ -</button></div>
    </div>
    <hr>
  </div>