.conteudo{
  width: 50%;  margin: 0 auto;  padding: 0 30px;
}

.espacamento-1{
  padding-bottom: 1px
}

.td-tamanho-curto{
  width: 15%;
  font-weight: bold;
}

.td-tamanho-medio{
  width: 35%
}
.negrito{
  font-weight: bold;
}

.sem-espacamento{
  padding-bottom: 0px
}

.sub-titulo{
  font-size: 15px;
}

.td-tamanho-20{
  width: 20%
}
