<div class="" style="font-size: 14px; margin: 0 auto;  padding: 0 30px;">
  <div class="card shadow">
    <div class="card-header text-center" style="font-weight: bold">
      FICHA FINANCEIRA MENSALIDADE
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td style="width: 5%; font-weight: bold;">BENEFICIÁRIO:</td>
            <td style="width: 30%">MAICON SANTANA</td>
            <td style="width: 5%; font-weight: bold;">MATRÍCULA:</td>
            <td style="width: 30%">87117800</td>
            <td style="width: 30%"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <div class="card shadow">
    <div class="card-body align-items-center">
      <table id="" class="table table-bordered table-sm text-center">
        <thead style="background-color:#004d71; color: white">
          <tr>
            <th style="width: 13px" scope="col" rowspan="2">Competência</th>
            <th scope="col" rowspan="2">Rubrica</th>
            <th scope="col" rowspan="2">Descrição</th>
            <th scope="col" rowspan="2">Remuneração Bruta</th>
            <th scope="col" rowspan="2">Beneficiário</th>
            <th scope="col" rowspan="2">Tipo</th>
            <th scope="col" rowspan="2">Valor da Mensalidade</th>
            <th scope="col" rowspan="2">Valor total da Mensalidade</th>
            <th scope="col" colspan="3">Tipo de Cobrança</th>
            <th scope="col" rowspan="2">Situação</th>
          </tr>
          <tr>
            <th scope="col">Folha de Pagamento</th>
            <th scope="col">Boleto</th>
            <th scope="col">Parcelamento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ABR/18</td>

            <td colspan="6" rowspan="3"> MENSALIDADES PARCELADAS</td>
            <td rowspan="3">R$ 0,00</td>
            <td rowspan="3"></td>
            <td rowspan="3"></td>
            <td rowspan="3">R$ 0,00</td>
            <td rowspan="1">Quitado</td>
          </tr>
          <tr>
            <td>MAI/2018</td>
            <td>Quitado</td>
          </tr>
          <tr>
            <td>JUN/2018</td>
            <td>Quitado</td>
          </tr>
          <tr>
            <td rowspan="3">JUL/18</td>
            <td>54886</td>
            <td rowspan="3">Mensalidade Postal Saúde-TST</td>
            <td rowspan="3">R$6328,05</td>
            <td>PAULO SANTANA</td>
            <td>TITULAR</td>
            <td>R$95,97</td>
            <td rowspan="3">R$129,56</td>
            <td rowspan="3"></td>
            <td rowspan="3">R$129,56</td>
            <td rowspan="3"></td>
            <td rowspan="3">Quitado</td>
          </tr>
          <tr>
            <td>54902</td>
            <td>EVA SANTANA
            </td>
            <td>CONJUGE/COMPANHEIRO(A)
            </td>
            <td>R$33,59</td>
          </tr>
          <tr>
            <td>54903</td>
            <td>ANA SANTANA</td>
            <td>FILHO(A)</td>
            <td>R$33,59</td>
          </tr>
          <tr>
            <td rowspan="3">JUL/18</td>
            <td>54886</td>
            <td rowspan="3">Mensalidade Postal Saúde-TST</td>
            <td rowspan="3">R$6328,05</td>
            <td>PAULO SANTANA</td>
            <td>TITULAR</td>
            <td>R$95,97</td>
            <td rowspan="3">R$129,56</td>
            <td rowspan="3"></td>
            <td rowspan="3">R$129,56</td>
            <td rowspan="3"></td>
            <td rowspan="3">Quitado</td>
          </tr>
          <tr>
            <td>54902</td>
            <td>EVA SANTANA
            </td>
            <td>CONJUGE/COMPANHEIRO(A)
            </td>
            <td>R$33,59</td>
          </tr>
          <tr>
            <td>54903</td>
            <td>ANA SANTANA</td>
            <td>FILHO(A)</td>
            <td>R$33,59</td>
          </tr>
          <tr>
            <td rowspan="3">JUL/18</td>
            <td>54886</td>
            <td rowspan="3">Mensalidade Postal Saúde-TST</td>
            <td rowspan="3">R$6328,05</td>
            <td>PAULO SANTANA</td>
            <td>TITULAR</td>
            <td>R$95,97</td>
            <td rowspan="3">R$129,56</td>
            <td rowspan="3"></td>
            <td rowspan="3">R$129,56</td>
            <td rowspan="3"></td>
            <td rowspan="3">Quitado</td>
          </tr>
          <tr>
            <td>54902</td>
            <td>EVA SANTANA
            </td>
            <td>CONJUGE/COMPANHEIRO(A)
            </td>
            <td>R$33,59</td>
          </tr>
          <tr>
            <td>54903</td>
            <td>ANA SANTANA</td>
            <td>FILHO(A)</td>
            <td>R$33,59</td>
          </tr>
          <tr>
            <td rowspan="3">JUL/18</td>
            <td>54886</td>
            <td rowspan="3">Mensalidade Postal Saúde-TST</td>
            <td rowspan="3">R$6328,05</td>
            <td>PAULO SANTANA</td>
            <td>TITULAR</td>
            <td>R$95,97</td>
            <td rowspan="3">R$129,56</td>
            <td rowspan="3"></td>
            <td rowspan="3">R$129,56</td>
            <td rowspan="3"></td>
            <td rowspan="3">Quitado</td>
          </tr>
          <tr>
            <td>54902</td>
            <td>EVA SANTANA
            </td>
            <td>CONJUGE/COMPANHEIRO(A)
            </td>
            <td>R$33,59</td>
          </tr>
          <tr>
            <td>54903</td>
            <td>ANA SANTANA</td>
            <td>FILHO(A)</td>
            <td>R$33,59</td>
          </tr>
          <tr>
            <td>JAN/2019</td>
            <td>053900</td>
            <td>devolução Mensalidade-TST</td>
            <td>R$ 2304,00</td>
            <td>PEDRO SANTOS</td>
            <td>TITULAR</td>
            <td>-R$ 131,10  </td>
            <td>-R$ 131,10 </td>
            <td></td>
            <td></td>
            <td></td>          
            <td>DEVOLUÇÃO</td>
          </tr>
          <tr>
              <td>FEV/2019</td>
              <td>053900</td>
              <td>devolução Mensalidade-TST</td>
              <td>R$ 2304,00</td>
              <td>JOÃO SOUZA              </td>
              <td>TITULAR</td>
              <td>-R$ 131,10  </td>
              <td>-R$ 131,10 </td>
              <td></td>
              <td></td>
              <td></td>          
              <td>DEVOLUÇÃO</td>
            </tr>
            <tr>
                <td>MAR/2019</td>
                <td>053900</td>
                <td>devolução Mensalidade-TST</td>
                <td>R$ 2304,00</td>
                <td>IVO SILVA</td>
                <td>TITULAR</td>
                <td>-R$ 131,10  </td>
                <td>-R$ 131,10 </td>
                <td></td>
                <td></td>
                <td></td>          
                <td>DEVOLUÇÃO</td>
              </tr>


        </tbody>
      </table>
    </div>
  </div>
  <br />
  <div class="card shadow">
    <div class="card-body">
      <p><strong>Legenda:</strong>
      </p>
      <p><strong>Competência:</strong> corresponde ao mês da cobrança
      </p>
      <p><strong>Rubrica:</strong> número descritivo da identificação do desconto da mensalidade do
        benficiário ativo
        no contracheque
      </p>
      <p><strong>054900</strong> - Mensalidade do titular
      </p>
      <p><strong>054902</strong> - Mensalidade do dependente
      </p>
      <p><strong>054903</strong> - Mensalidade do cônjuge
      </p>
      <p><strong>053900</strong> - Dev. Mensalidade Postal Saúde - TST
      </p>
      <p><strong>Descrição:</strong> Especificação da rubrica
      </p>
      <p><strong>Remuneração Bruta</strong>
      </p>
      <p><strong>a) Empregado Ativo:</strong> são as rubricas que sofrem a incidência de IRPF não sendo
        consideradas as
        rubricas relacionadas ao pagamento de férias e 13º salários.
      </p>
      <p><strong>b) Empregado Aposentado:</strong> são considerados o benefício recebido do INSS, mais o
        coplemtno da
        União, caso tenha, mais a suplementação do Postalis, planos CD e BD
      </p>
      <p><strong>c) Empregado Afastado:</strong> é considerado a remuneração atualizada que incide IR, com
        exceção do
        13º salário e férias
      </p>
      <p><strong>Valor da mensalidade:</strong> valor cobrado por beneficiciário no plano
      </p>
      <p><strong>Valor total da mensalidade:</strong> valor das mensalidades cobradas na competência
      </p>
      <p><strong>Forma de Cobrança:</strong> identifica a forma de pagamento
      </p>
      <p><strong>a) Folha de Pagamento:</strong> beneficiários ativos
      </p>
      <p><strong>b) Boleto:</strong> Beneficiários aposentados e afastados
      </p>
      <p><strong>c) Parcelamento:</strong> É a negociação de boletos de mensalidade e despeas
        médico-hospitalar e /ou
        odontológica inadimplentes.
      </p>
      <p><strong>Situação:</strong> É o status de pagamento
      </p>
      <p><strong>b) Em aberto:</strong> É a mensalidade e as despesas médico-hopitalares processadas e não
        pagas até a
        data de vencimento
      </p>
      <p><strong>a) Quitado:</strong> É a mensalidade e as despesas médico-hopitalares processadas e pagas
      </p>
      <p><strong>c) Inadimplente:</strong> É a mensalidade e as despesas médico-hopitalares processadas e não
        pagas,
        passíveis de parcelamento.
      </p>
      <p><strong>d) Devolução:</strong> É o ajuste realizado na ficha financeira
      </p>
      <p><strong>Obs:</strong> A partir de 01/2019 a mensalidade dos empregados ativos é calculado pela
        Mantenedora
    </div>
  </div>
</div>