<app-header></app-header>
<div class="conteudo">
  <app-cabecalho titulo="Mensalidade"></app-cabecalho>
  <br />
  <div class="card shadow">
    <div class="card-body align-items-center">
      <div class="d-flex align-items-center"
        *ngIf="(!mensalidades?.data || mensalidades?.data.length == 0) && carregando">
        <strong>Carregando dados...</strong>
        <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
      </div>
      <div class="alert alert-danger" role="alert"
        *ngIf="(mensalidades?.data == null || mensalidades?.data.length == 0) && !carregando">
        <h2>Sem dados para exibição!</h2>
      </div>
      <!-- MENSALIDADES  -->
      <table id="" class="table table-bordered table-sm text-center cabecalhoDeTabelas"
        *ngIf="mensalidades?.data.length != 0 && mensalidades?.data != null">
        <thead class="postal">
          <tr>
            <th class="campo-menor" scope="col" rowspan="2">Competência</th>
            <th scope="col" rowspan="2" data-toggle="tooltip" data-placement="top" title="Referência"class="ps-tooltip">Ref.</th>
            <th scope="col" rowspan="2">Descrição</th>
            <th scope="col" rowspan="2">Remuneração Bruta (R$)</th>
            <th scope="col" rowspan="2">Beneficiário</th>
            <th scope="col" rowspan="2">Tipo</th>
            <th scope="col" rowspan="2">Valor da Mensalidade (R$)</th>
            <th scope="col" rowspan="2">Valor total da Mensalidade (R$)</th>
            <th scope="col" colspan="3">Forma de cobrança</th>
            <th scope="col" rowspan="2">Situação</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let mensalidade of mensalidades.data; let i = index">
            <tr *ngFor="let reg of mensalidades.data[i].registros; let j = index; first as isFirst">
              <td [attr.rowspan]="mensalidades.data[i].registros.length" *ngIf="isFirst">{{ mensalidade.competencia.mes }}/{{ mensalidade.competencia.ano }}</td>
              <td [attr.rowspan]="mensalidades.data[i].registros.length" *ngIf="isFirst">{{ reg.referencia.mes }}/{{ reg.referencia.ano }}</td>
              <td [attr.rowspan]="mensalidades.data[i].registros.length" *ngIf="isFirst">{{ reg.rubrica.descricao }}</td>
              <td [attr.rowspan]="mensalidades.data[i].registros.length" *ngIf="isFirst">{{ reg.remuneracaoBruta | number:'1.2-2':'pt' }}</td>
              <td class="campoLeft">{{reg?.beneficiarios[j].nome | titlecase | nome }}</td>
              <td>{{reg?.beneficiarios[j].tipoBeneficiario.descricao | titlecase }}</td>
              <td>{{reg?.beneficiarios[j].valorCobrado | number:'1.2-2':'pt' }}</td>
              <td [attr.rowspan]="mensalidades.data[i].registros.length" *ngIf="isFirst">{{ reg?.mensalidadeSomadaTodosBeneficiarios | number:'1.2-2':'pt' }}</td>
              <td [attr.rowspan]="mensalidades.data[i].registros.length" *ngIf="isFirst" colspan="3"><span>{{ reg?.tipoPagamento.valor | number:'1.2-2':'pt' }}</span>
                <span class="badge badge-pill badge-primary badge-right {{ reg?.tipoPagamento.descricao }}"
                  data-toggle="tooltip" data-placement="top"
                  title="{{ reg?.tipoPagamento.descricao }}">{{ reg?.tipoPagamento.sigla }}</span>
                  <span class="badge badge-pill badge-invisivel badge-right"
                  *ngIf="reg?.tipoPagamento.sigla == ''">&nbsp;</span>
              </td>
              <td [attr.rowspan]="mensalidades.data[i].registros.length" *ngIf="isFirst">{{ reg?.situacao }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <div class="card shadow">
    <div class="accordion" id="accordionRegra">
      <div class="card">
        <div class="row card-header" id="headingOne">
          <button class="btn col-12" type="button" data-toggle="collapse" data-target="#collapseRegra"
            aria-expanded="false" aria-controls="collapseRegra">
            <div class="col">
              <h4><strong>Legenda</strong></h4>
            </div>
            <div class="col">(Clique aqui para saber mais)</div>
          </button>
        </div>

        <div class="collapse" id="collapseRegra">
          <div class="card card-body">
            <p><strong>Competência:</strong> corresponde ao mês da cobrança
            </p>
            <p><strong>Rubrica:</strong> número descritivo da identificação do desconto da mensalidade do
              benficiário ativo
              no contracheque
            </p>
            <p><strong>054900</strong> - Mensalidade do titular
            </p>
            <p><strong>054902</strong> - Mensalidade do dependente
            </p>
            <p><strong>054903</strong> - Mensalidade do cônjuge
            </p>
            <p><strong>053900</strong> - Dev. Mensalidade Postal Saúde - TST
            </p>
            <p><strong>Descrição:</strong> Especificação da rubrica
            </p>
            <p><strong>Remuneração Bruta</strong>
            </p>
            <p><strong>a) Empregado Ativo:</strong> são as rubricas que sofrem a incidência de IRPF não sendo
              consideradas as
              rubricas relacionadas ao pagamento de férias e 13º salários.
            </p>
            <p><strong>b) Empregado Aposentado:</strong> são considerados o benefício recebido do INSS, mais o
              coplemtno da
              União, caso tenha, mais a suplementação do Postalis, planos CD e BD
            </p>
            <p><strong>c) Empregado Afastado:</strong> é considerado a remuneração atualizada que incide IR, com
              exceção do
              13º salário e férias
            </p>
            <p><strong>Valor da mensalidade:</strong> valor cobrado por beneficiciário no plano
            </p>
            <p><strong>Valor total da mensalidade:</strong> valor das mensalidades cobradas na competência
            </p>
            <p><strong>Forma de Cobrança:</strong> identifica a forma de pagamento
            </p>
            <p><strong>a) Folha de Pagamento:</strong> beneficiários ativos
            </p>
            <p><strong>b) Boleto:</strong> Beneficiários aposentados e afastados
            </p>
            <p><strong>c) Parcelamento:</strong> É a negociação de boletos de mensalidade e despeas
              médico-hospitalar e /ou
              odontológica inadimplentes.
            </p>
            <p><strong>Situação:</strong> É o status de pagamento
            </p>
            <p><strong>b) Em aberto:</strong> É a mensalidade e as despesas médico-hopitalares processadas e não
              pagas até a
              data de vencimento
            </p>
            <p><strong>a) Quitado:</strong> É a mensalidade e as despesas médico-hopitalares processadas e pagas
            </p>
            <p><strong>c) Inadimplente:</strong> É a mensalidade e as despesas médico-hopitalares processadas e não
              pagas,
              passíveis de parcelamento.
            </p>
            <p><strong>d) Devolução:</strong> É o ajuste realizado na ficha financeira
            </p>
            <p><strong>Obs:</strong> A partir de 01/2019 a mensalidade dos empregados ativos é calculado pela
              Mantenedora</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>