<div class="container">
  <div class="row">
    <div class="col-12">
      <h2><strong>Regras de Cobrança</strong></h2>
      <br>
      <h6><strong>Mensalidade</strong></h6>
      <label>O cálculo da mensalidade observa as seguintes variáveis: faixa de remuneração/rendimentos e os limites de
        variação de mensalidade por faixa etária do beneficiário titular e grupo familiar, caso exista.</label>
    </div>
    <div class="col-12">
      <p></p>
    </div>
    <div class="col-12">
      <h4><strong>Coparticipação dos Planos</strong></h4>
      <br>
      <h6><strong>Plano Correios Saúde</strong></h6>
      <label>a) Para despesa relativa à consulta, exame, procedimentos, tratamento ambulatorial, internação em
        acomodação coletiva e/ou UTI, Home Care, Tratamento Fora de Domicílio (TFD) e tratamento odontológico, exceto
        prótese odontológica:</label>
      <div class="col-12">
        <table class="table-bordered">
          <thead>
            <tr>
              <th scope="col">Percentual</th>
              <th scope="col">Referência Salarial</th>
              <th scope="col">Teto Limite para desconto de empregado ativo</th>
              <th scope="col">Teto limite para desconto de Aposentados/Aposentados por Invalidez </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>10%</td>
              <td>NM 01 a NM 16</td>
              <td rowspan="4">2 (duas vezes o salário base)</td>
              <td rowspan="4">3 (três) vezes o salário (somatório Postalis, INSS)</td>
            </tr>
            <tr>
              <td>15%</td>
              <td>NM 17 a NM 48</td>
            </tr>
            <tr>
              <td>20%</td>
              <td>MN 49 a MN 90</td>
            </tr>
            <tr>
              <td>20%</td>
              <td>NS 01 a NS 60</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      <label>b) Para despesa relativa à prótese odontológica e opção do beneficiário em apartamento (quando
        permitida):</label>
      <div class="col-12">
        <div class="col-12">
          <table class="table-bordered">
            <thead>
              <tr>
                <th scope="col">Percentual</th>
                <th scope="col">Referência Salarial</th>
                <th scope="col">Teto Limite para desconto de todos os titulares</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>10%</td>
                <td>NM 01 a NM 16</td>
                <td rowspan="4">4 (quarto) vezes salário base para ativos e salário de enquadramento para aposentados.
                </td>
              </tr>
              <tr>
                <td>15%</td>
                <td>NM 17 a NM 48</td>
              </tr>
              <tr>
                <td>20%</td>
                <td>MN 49 a MN 90</td>
              </tr>
              <tr>
                <td>20%</td>
                <td>NS 01 a NS 60</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <h6><strong>Plano Correios Saúde II</strong></h6>
      <label>Para os beneficiários deste plano, titulares e seus dependentes, os atendimentos realizados a partir de 18
        de abril de 2018 são coparticipados conforme as regras já vigentes do CorreiosSaúde II, ou seja, haverá
        coparticipação de 30% sobre os procedimentos realizados, exceto internação, tendo como teto máximo para
        compartilhamento duas vezes o valor da remuneração recebida antes do fato gerador da licença. O desconto mensal
        decorrente desta despesa será limitado a até 5% da remuneração líquida do titular, fora margem consignável (Lei
        nº 10.820/2003, regulamentada pelo Decreto nº 4.840/2003, conforme decisão do TST, sendo a cobrança em
        sucessivas parcelas até a sua liquidação.</label>
    </div>
  </div>
</div>