.thead-blue {
  background-color: #004D77;
  color: white; 
}
.cabecalhoDeTabelas{
    border: 1px;
}

.cabecalhoDeTabelas th{
    vertical-align: middle;
}

.cabecalhoDeTabelas tr td{
    vertical-align: middle;
}

.inadimplente{
    color: brown;
}

.devolucao{
    color: #004d71;
}

.campoLeft{
    text-align: left;
}

.conteudo{
    font-size: 14px; margin: 0 auto;  padding: 0 30px;
}

.campo-menor{
    width: 13px
}

th.ps-tooltip{
    cursor: help;
    text-decoration: underline;
}

/* BADGES */

.badge-right{
    float: right;
    margin-top: 3px;
    margin-right: 10px;
}

.badge-invisivel{
    color: white;
}

.Folha{
    background-color: #E6A31E;
}

.Boleto{
    background-color: #004D71;
}

.Parcelamento{
    background-color: #07913A;
}

.valor{
    margin-right: -20px;
}